<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="ShortcutsDlg" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)">
        <Control Id="Next" Type="PushButton" X="248" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" >
          <Condition Action="enable"><![CDATA[TENANT <> ""]]></Condition>
          <Condition Action="disable"><![CDATA[TENANT = ""]]></Condition>
        </Control>
        <Control Id="Back" Type="PushButton" X="192" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="TenantText" Type="Text" X="20" Y="60" Width="50" Height="30" Text="Tenant: " />
        <Control Id="Tenant" Type="Edit" X="80" Y="60" Width="200" Height="18" Property="TENANT" >
          
        </Control>
        <Control Id="TokenText" Type="Text" X="20" Y="100" Width="50" Height="30" Text="Token: " />
        <Control Id="Token" Type="Edit" X="80" Y="100" Width="200" Height="18" Property="TOKEN" />
        
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.CustomizeDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="210" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.CustomizeDlgTitle)" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>